Core/MTDataAccess/bin/
Core/MTDataAccess/obj/
DB/bin/
DB/obj/
Web/multitracks.com/multitracks.com/Bin/
packages/
.vs/multitracks.com-dotNet/v17/.suo
.vs/multitracks.com-dotNet/FileContentIndex/f9ae4c84-11e5-4a02-bf63-5a858ad22c5d.vsidx
.vs/multitracks.com-dotNet/FileContentIndex/c182656e-89ef-4582-8c6a-836080b7f684.vsidx
.vs/multitracks.com-dotNet/FileContentIndex/4832fa8d-ba49-4558-9c80-6c543b01f068.vsidx
.vs/multitracks.com-dotNet/FileContentIndex/424850db-230e-469f-a973-aebc5e04e8a3.vsidx
.vs/multitracks.com-dotNet/FileContentIndex/108c9505-67f4-404e-a4d0-a2523d87b6e8.vsidx
.vs/multitracks.com-dotNet/CopilotIndices/17.13.444.19527/SemanticSymbols.db-wal
.vs/multitracks.com-dotNet/CopilotIndices/17.13.444.19527/SemanticSymbols.db-shm
.vs/multitracks.com-dotNet/CopilotIndices/17.13.444.19527/SemanticSymbols.db
.vs/multitracks.com-dotNet/CopilotIndices/17.13.444.19527/CodeChunks.db-wal
.vs/multitracks.com-dotNet/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
.vs/multitracks.com-dotNet/CopilotIndices/17.13.444.19527/CodeChunks.db
.vs/multitracks.com-dotNet/copilot-chat/49bc0ea8/sessions/de8fa75f-edb7-4679-8e04-d25aaee4853b
.vs/multitracks.com-dotNet/copilot-chat/49bc0ea8/sessions/852d1393-a4b6-4c5e-91da-f427cb65b692
.vs/multitracks.com-dotNet/copilot-chat/49bc0ea8/sessions/49219763-2133-4602-baa7-12ad86e617ed
.vs/multitracks.com-dotNet/v17/DocumentLayout.json
.vs/multitracks.com-dotNet/v17/DocumentLayout.backup.json
Core/MTDataAccess/.vs/MTDataAccess.csproj.dtbcache.json
DB/MultiTracksDB.publish.xml
