Core/MTDataAccess/bin/
Core/MTDataAccess/obj/
DB/bin/
DB/obj/
Web/multitracks.com/multitracks.com/Bin/
packages/
.vs/multitracks.com-dotNet/v17/.suo
.vs/multitracks.com-dotNet/FileContentIndex/
*.vsidx
.vs/multitracks.com-dotNet/CopilotIndices/
.vs/multitracks.com-dotNet/copilot-chat/
.vs/multitracks.com-dotNet/v17/DocumentLayout.json
.vs/multitracks.com-dotNet/v17/DocumentLayout.backup.json
Core/MTDataAccess/.vs/MTDataAccess.csproj.dtbcache.json
DB/MultiTracksDB.publish.xml
DB/MultiTracksDB.dbmdl
.vs/multitracks.com-dotNet/v17/HierarchyCache.v1.txt
DB/MultitracksDB.jfm
*.jfm
.vs/slnx.sqlite
