Core/MTDataAccess/bin/
Core/MTDataAccess/obj/
DB/bin/
DB/obj/
packages/
.vs/multitracks.com-dotNet/v17/.suo
.vs/multitracks.com-dotNet/FileContentIndex/
*.vsidx
.vs/multitracks.com-dotNet/CopilotIndices/
.vs/multitracks.com-dotNet/copilot-chat/
.vs/multitracks.com-dotNet/v17/DocumentLayout.json
.vs/multitracks.com-dotNet/v17/DocumentLayout.backup.json
Core/MTDataAccess/.vs/MTDataAccess.csproj.dtbcache.json
DB/MultiTracksDB.publish.xml
DB/MultiTracksDB.dbmdl
.vs/multitracks.com-dotNet/v17/HierarchyCache.v1.txt
DB/MultitracksDB.jfm
*.jfm
.vs/slnx.sqlite
DB/MultitracksDB.jfm
Multitracks_Api/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Multitracks_Api/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
Multitracks_Api/bin/MTDataAccess.dll
Multitracks_Api/bin/MTDataAccess.pdb
Multitracks_Api/bin/Multitracks_Api.dll
Multitracks_Api/bin/Multitracks_Api.dll.config
Multitracks_Api/bin/Multitracks_Api.pdb
Multitracks_Api/bin/Newtonsoft.Json.dll
Multitracks_Api/bin/Newtonsoft.Json.xml
Multitracks_Api/bin/roslyn/csc.exe
Multitracks_Api/bin/roslyn/csc.exe.config
Multitracks_Api/bin/roslyn/csc.rsp
Multitracks_Api/bin/roslyn/csi.exe
Multitracks_Api/bin/roslyn/csi.exe.config
Multitracks_Api/bin/roslyn/csi.rsp
Multitracks_Api/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
Multitracks_Api/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
Multitracks_Api/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
Multitracks_Api/bin/roslyn/Microsoft.CodeAnalysis.dll
Multitracks_Api/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
Multitracks_Api/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
Multitracks_Api/bin/roslyn/Microsoft.CSharp.Core.targets
Multitracks_Api/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
Multitracks_Api/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
Multitracks_Api/bin/roslyn/Microsoft.Managed.Core.targets
Multitracks_Api/bin/roslyn/Microsoft.VisualBasic.Core.targets
Multitracks_Api/bin/roslyn/Microsoft.Win32.Primitives.dll
Multitracks_Api/bin/roslyn/System.AppContext.dll
Multitracks_Api/bin/roslyn/System.Collections.Immutable.dll
Multitracks_Api/bin/roslyn/System.Console.dll
Multitracks_Api/bin/roslyn/System.Diagnostics.DiagnosticSource.dll
Multitracks_Api/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
Multitracks_Api/bin/roslyn/System.Diagnostics.StackTrace.dll
Multitracks_Api/bin/roslyn/System.Globalization.Calendars.dll
Multitracks_Api/bin/roslyn/System.IO.Compression.dll
Multitracks_Api/bin/roslyn/System.IO.Compression.ZipFile.dll
Multitracks_Api/bin/roslyn/System.IO.FileSystem.dll
Multitracks_Api/bin/roslyn/System.IO.FileSystem.Primitives.dll
Multitracks_Api/bin/roslyn/System.Net.Http.dll
Multitracks_Api/bin/roslyn/System.Net.Sockets.dll
Multitracks_Api/bin/roslyn/System.Reflection.Metadata.dll
Multitracks_Api/bin/roslyn/System.Runtime.InteropServices.RuntimeInformation.dll
Multitracks_Api/bin/roslyn/System.Security.Cryptography.Algorithms.dll
Multitracks_Api/bin/roslyn/System.Security.Cryptography.Encoding.dll
Multitracks_Api/bin/roslyn/System.Security.Cryptography.Primitives.dll
Multitracks_Api/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
Multitracks_Api/bin/roslyn/System.Text.Encoding.CodePages.dll
Multitracks_Api/bin/roslyn/System.Threading.Tasks.Extensions.dll
Multitracks_Api/bin/roslyn/System.ValueTuple.dll
Multitracks_Api/bin/roslyn/System.Xml.ReaderWriter.dll
Multitracks_Api/bin/roslyn/System.Xml.XmlDocument.dll
Multitracks_Api/bin/roslyn/System.Xml.XPath.dll
Multitracks_Api/bin/roslyn/System.Xml.XPath.XDocument.dll
Multitracks_Api/bin/roslyn/vbc.exe
Multitracks_Api/bin/roslyn/vbc.exe.config
Multitracks_Api/bin/roslyn/vbc.rsp
Multitracks_Api/bin/roslyn/VBCSCompiler.exe
Multitracks_Api/bin/roslyn/VBCSCompiler.exe.config
Multitracks_Api/bin/System.Net.Http.Formatting.dll
Multitracks_Api/bin/System.Net.Http.Formatting.xml
Multitracks_Api/bin/System.Web.Http.dll
Multitracks_Api/bin/System.Web.Http.WebHost.dll
Multitracks_Api/bin/System.Web.Http.WebHost.xml
Multitracks_Api/bin/System.Web.Http.xml
Multitracks_Api/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Multitracks_Api/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Multitracks_Api/obj/Debug/Multitra.BE7EE264.Up2Date
Multitracks_Api/obj/Debug/Multitracks_Api.csproj.AssemblyReference.cache
Multitracks_Api/obj/Debug/Multitracks_Api.csproj.CoreCompileInputs.cache
Multitracks_Api/obj/Debug/Multitracks_Api.csproj.FileListAbsolute.txt
Multitracks_Api/obj/Debug/Multitracks_Api.dll
Multitracks_Api/obj/Debug/Multitracks_Api.pdb
Web/multitracks.com/multitracks.com/Bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
Web/multitracks.com/multitracks.com/Bin/microsoft.codedom.providers.dotnetcompilerplatform.xml
Web/multitracks.com/multitracks.com/Bin/Multitracks_Api.dll
Web/multitracks.com/multitracks.com/Bin/Multitracks_Api.pdb
DB/MultitracksDB.jfm